//--------------------------------------------------------------
// settings
//--------------------------------------------------------------


// sizes

$container: 80%;
$font-headings: sans-serif;
$font-text: serif;
$font-size: 1.1em; // 1em = 16px



// colors

$color_1: darkblue;
$color_1_contrast: white;
$color_2: steelblue;
$color_2_contrast: orange;
$color_light_1: lightblue;
$color_light_2: lightgrey;

$color_ink: rgba(0, 0, 0, 0.75);
$color_page: whitesmoke;


//--------------------------------------------------------------
//  Utilities
//--------------------------------------------------------------

//@import 'utils/mixins';
//@import 'utils/variables';

//--------------------------------------------------------------
//  Base
//--------------------------------------------------------------

//@import 'base/typography';

//--------------------------------------------------------------
//  Components
//--------------------------------------------------------------

//@import 'components/tables';
//@import 'components/hr';
//@import 'components/forms';
//@import 'components/buttons';
//@import 'components/aside';

//--------------------------------------------------------------
//  Layout
//--------------------------------------------------------------

//@import 'layout/layout';
body{
    margin: 0;
    padding: 0;
    width:100%;
    font-size: 100%;
    background-color: $color_page;
}
main{
    width: $container;
    margin: 0 auto;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    overflow: scroll;
    width: 100%;
    height: 20%;
    background-color: $color_1;
    nav {
        width: $container;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style: none;
        // https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
        a {
            color: $color_1_contrast;
            text-decoration: none;
            font-family: $font-headings;
            font-size: $font-size;
        }
        a:hover{
            color: $color_2_contrast;
            transition: all ease-out 0.5s;
        }
        img {
            //
        }
    }
}
article{
    color: $color_ink;
}
section{
    color: $color_ink;
}
aside{
    color: $color_ink;
}
footer{
    background-color: $color_2;
    color: $color_2_contrast;
}