
{% extends "index.html" %}
{% block page %}
<form method="POST" action="{{ url_for('new') }}">
    {{ form.csrf_token }}
    <div>
        {{ form.title (placeholder="titre")}}
    </div>
    <div>
        {{ form.text }}
    </div>
    <div>
        {{ form.draft.label }}
        {{ form.draft }}
    </div>
    <div>
        <ul>
            {% for error in form.file.errors %}
            <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <input type="submit" value="Créer">
    </div>
</form>
{% endblock %}

