
{% extends "index.html" %}
{% block page %}
<form method="POST" action="{{ url_for('new') }}">
    {{ form.csrf_token }}
    {{ form.title }}
    {{ form.title.label }}
    {{ form.text(rows="10", cols="150") }}
    {{ form.draft }}
    {{ form.draft.label }}
    {{ form.file }}
    <ul>
        {% for error in form.file.errors %}
        <li style="color: red;">{{ error }}</li>
        {% endfor %}
    </ul>
    {{ form.file.label }}
    <input type="submit" value="Créer">
</form>
{% endblock %}

